$colors: (
	primary: (
		300: hsl(340deg, 5%, 12%),
		400: hsl(330deg, 4%, 9%)
	),
	secondary: (
		300: hsl(0deg, 0%, 100%),
		400: hsla(0deg, 0%, 100%, 72.2%)
		),
	accent: (
		300: hsl(32deg, 33%, 47%),
		400: hsla(32deg, 33%, 47%, 94%),
		500: hsl(30deg, 28%, 82%),
		600: hsl(31deg, 85%, 95%), 
		700: hsla(31deg, 85%, 95%, 83%),
		800: hsl(30deg, 25%, 26%),
		900: hsla(32deg, 33%, 47%, 27.1%),
		1000: hsl(30deg, 20%, 80%),
		1100: hsla(32deg, 33%, 47%, 43%)
	),
	neutral: (
		300: hsla(0deg, 0%, 100%, 20%),
		400: hsla(0deg, 0%, 100%, 72%),
		500: hsl(0deg, 5%, 8%),
		600: hsla(0deg, 0%, 0%, 25%),
		700: hsla(0deg, 0%, 0%, 30%),
		800: hsla(0deg, 0%, 100%, 61%)
	)
);
