@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1366px
);

.Button {
    color: var(--clr-secondary-300);
	font-family: var(--ff-normal-700);
	font-size: var(--fs-320-12);
	line-height: 1.406rem;
	box-sizing: border-box;
	cursor: pointer;
	@include flex(center, center, row);

	&_style_outline {
		background-color: transparent;
		border: 0.05rem solid var(--clr-accent-300);
		transition: background-color  0.6s ease, border  0.6s ease, color 0.6s ease;

		&:hover, &:focus {
			transition: background-color  0.3s ease, border  0.3s ease, color 0.3s ease;
			background-color: var(--clr-secondary-300);
			border: 0.05rem solid var(--clr-secondary-300);
			color: var(--clr-accent-300);
		}
	}

	&_size_small {
		width: 14.1rem;
		height: 4rem;
	}
}

@include media(">=tablet") {
	.Button {
		font-size: var(--fs-768-14);
		line-height: 1.641rem;
	
		&_size_small {
			width: 20rem;
			height: 5.3rem;
		}
	}
}

@include media(">=desktop") {
	.Button {
		font-size: var(--fs-1366-14);
	
		&_size_small {
			width: 20rem;
			height: 5.2rem;
		}
	}
}